.header {
  background: $white;
  color: $black;
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
  box-shadow: 0 1px 5px 0 $grey;
  & ul {
    justify-self: flex-end;
  }
}

.logo {
  background-image: url('././assets/images/badger-dark.svg');
  background-repeat: no-repeat;
  width: 250px;
  height: 30px;
  display:block;
}