body {
  background: $white;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 10px;
}

.fill-space {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.message {
  padding:1rem;
  border-radius: .2rem;
  margin:.5rem;
  &--error {
    background:$red;
    color:$white;
  }
}
.wrapper {
  padding: 1rem;
}